
/* -----------------------------------------------------------------------------
 * Panels Wrapper
 * ----------------------------------------------------------------------------- */

.panels-collection {

}

/* -----------------------------------------------------------------------------
 * Panel Wrapper
 * ----------------------------------------------------------------------------- */

.panel {

}

.site-panel--interstitial {
  margin-top: 50px;
}