.page {

}

button[title="Live Preview"],
button[title="Add a new panel"]{
  display: none;
}

.input-type-html .panel-field-description {
  display: block!important;

  p {
    font-size: 14px;
    color: black;
  }

  p + * {
    margin-top: 20px;
  }
}

.panel-input:not(.input-type-html) + .input-type-html {
  margin-top: 40px;
}

button[class^="panel__deletePanel"],
.dashicons-trash {
  display: none!important;
}