:root {
	/* -----------------------------------------------------------------------------
	 * Panel Spacers
	 * ----------------------------------------------------------------------------- */

	--spacer-sm: 8px;
  	--spacer-md: 16px;
  	--spacer-lg: 24px;
  	--spacer-xl: 32px;
  	--spacer-xxl: 40px;
}
